<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    {% load static %}
    {% load check %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'selectize.css' %}" rel="stylesheet">
    <style type="text/css">
        .form-control1 {
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ff9500;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        .text-primary{
            color: #ff9500 !important;
        }
        .custom_input , .selectize-input{
            border: 1px solid #ff9500;
            text-align: left;
            font-size: 16px;

        }
        .selectize-input:focus {
            box-shadow: 0 1rem 2rem rgba(44, 44, 44, 0.2);
            border: 2px solid black !important;
        }
         .custom_input:focus {
            box-shadow: 0 1rem 2rem rgba(44, 44, 44, 0.2);
            border: 2px solid black !important;
        }
        .tt > .selectize-control > .selectize-input {
            position: relative;
            width: 59%;
            float: right;
            top: -37px;
            right: 44px;
            border-radius: .25rem;
            height: 39px;
        }
        .ttt > .selectize-control > .selectize-input {
            border-radius: .25rem;
            height: 39px;
        }



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #ff9500;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="padding: 0.3rem;">
    <div class="container" style="padding: 0px; padding-left: 5px;  max-width: 100%;">
        <div>
            <img  alt="" style="width: 31px;vertical-align: middle; align-content: center; padding: 0;">
            
              <a class="navbar-brand logo" href="" style="color: rgb(59,153,224); vertical-align: middle; text-align: center;">Logo</a>
            
        </div>
        <button aria-label="Primary" data-toggle="collapse" class="navbar-toggler ml-auto hidden-sm-up float-xs-right" data-target="#navcol-1" style="align-content: center; vertical-align: middle;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" style="padding: 0px; margin: 0px; vertical-align: middle; align-content: center; text-align: center;">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation" style="padding-right: 1rem; padding-left: 1rem;">
                    <a class=" nav-link active" href="{% url 'index' %}">My Data</a>
                </li>
                <li class="nav-item" role="presentation" style="padding-right: 1rem; padding-left: 1rem;">
                    <a class=" nav-link " href="{% url 'matches' %}">Matches</a>
                </li>
                <li class="nav-item" style="padding-right: 1rem; padding-left: 1rem;">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.user.email}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>


        </div>
    </div>
</nav>

</head>

<body class="text-center">
    <br/><br/><br/>
        <section style="min-height: 763px;">
            <div id="wrapper">
                <div class="d-flex flex-column" id="content-wrapper">
                    <div id="content">
                    <div class="container-fluid">
                        <h3 class="text-dark mb-4"></h3>
                        <div class="row mb-3">
                  
                            <div class="offset-md-1 col-md-10">

                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow">
                                                
                                                    <div class="card-header py-3" style="height: 59px">
                                                        <p class="text-primary m-0 font-weight-bold">Hauptmieter</p>
                                                    <a href="{% url 'mieterperson_create' %}" class="btn" style="position: relative;float: right;top: -31px;right: 90px;background: #ff9500;color: white">+</a>
                                                    </div>
                                                    <div class="card-body">
                                                        {% if mieterpersons.count == 0 %}
                                                        <p class="m-0 font-weight-bold">No record</p>
                                                        {% else %}
                                                        {% for mieterperson in mieterpersons %}
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <p>{{mieterperson.nachname|default_if_none:""}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <p>{{mieterperson.vorname|default_if_none:""}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div>
                                                             <!--        <a href="" class="btn btn-danger" data-toggle="modal" data-target="#mieterperson_delete_caution_modal_{{mieterperson.pk}}">X</a> -->
                                                                 <i class="fa fa-trash-o"  data-toggle="modal" data-target="#mieterperson_delete_caution_modal_{{mieterperson.pk}}" style="font-size: 28px;color: white;background: red;border-radius: 4px;padding: 5px;cursor: pointer;">
                                                                 </i>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div>
                                                                 <!--    <a href="{% url 'mieterperson_update' mieterperson.pk %}" class="btn btn-success">Edit</a> -->
                                                                 <a href="{% url 'mieterperson_update' mieterperson.pk %}">
                                                                     <i class="fa fa-edit" style="font-size:28px;color:white;background: #28a745;border-radius: 4px;padding: 5px;">
                                                                     </i>
                                                                 </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                      <div class="modal fade" id="mieterperson_delete_caution_modal_{{mieterperson.pk}}" role="dialog" tabindex="-1">
                                                          <div class="modal-dialog" role="document">
                                                              <div class="modal-content">
                                                                  <div class="modal-header">
                                                                      <h4 class="modal-title" style="text-align: center">Are you sure?</h4>
                                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                      <p>Are you sure you want to delete this?</p>
                                                                  </div>
                                                                  <div class="modal-footer">
                                                                    <a type="button" href="{% url 'mieterperson_delete' mieterperson.pk %}" class="btn btn-danger ">Delete</a>
                                                                      <button id="modal-close" class="btn btn-light" type="button" data-dismiss="modal" aria-label="Close" autofocus>Close</button>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <br>
                                                        {% endfor %}
                                                        {% endif %}
                
                                                    </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow">
                                                <div class="card-header py-3" style="height: 59px;">
                                                    <p class="text-primary m-0 font-weight-bold">Nebenmieter</p>
                                                    <a href="{% url 'nebenmieter_create' %}" class="btn" style="position: relative;float: right;top: -31px;right: 90px;background: #ff9500;color: white">+</a>
                                                </div>
                                                <div class="card-body">
                                                        {% if nebenmieters.count == 0 %}
                                                        <p class="m-0 font-weight-bold">No record</p>
                                                        {% else %}
                                                        {% for nebenmieter in nebenmieters %}
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <p>{{nebenmieter.nachname|default_if_none:""}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <p>{{nebenmieter.vorname|default_if_none:""}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div>
                                                                    <!-- <a href="" class="btn btn-danger" data-toggle="modal" data-target="#nebenmieter_delete_caution_modal_{{nebenmieter.pk}}">X</a> -->
                                                                    <i class="fa fa-trash-o"  data-toggle="modal" data-target="#nebenmieter_delete_caution_modal_{{nebenmieter.pk}}" style="font-size: 28px;color: white;background: red;border-radius: 4px;padding: 5px;cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div>
                                                                    <!-- <a href="{% url 'nebenmieter_update' nebenmieter.pk %}" class="btn btn-success">Edit</a> -->
                                                                 <a href="{% url 'nebenmieter_update' nebenmieter.pk %}">
                                                                     <i class="fa fa-edit" style="font-size:28px;color:white;background: #28a745;border-radius: 4px;padding: 5px;">
                                                                     </i>
                                                                 </a> 
                                                                </div>
                                                            </div>

                                                        </div>
                                                          <div class="modal fade" id="nebenmieter_delete_caution_modal_{{nebenmieter.pk}}" role="dialog" tabindex="-1">
                                                              <div class="modal-dialog" role="document">
                                                                  <div class="modal-content">
                                                                      <div class="modal-header">
                                                                          <h4 class="modal-title" style="text-align: center">Are you sure?</h4>
                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                          <p>Are you sure you want to delete this?</p>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                        <a type="button" href="{% url 'nebenmieter_detele' nebenmieter.pk %}" class="btn btn-danger ">Delete</a>
                                                                          <button id="modal-close" class="btn btn-light" type="button" data-dismiss="modal" aria-label="Close" autofocus>Close</button>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <br>
                                                        {% endfor %}
                                                        {% endif %}
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow">
                                                <div class="card-header py-3" style="height: 59px;">
                                                    <p class="text-primary m-0 font-weight-bold">Wunschwohnung</p>
                                                    <a href="{% url 'wunschwohnung_create' %}" class="btn" style="position: relative;float: right;top: -31px;right: 90px;background: #ff9500;color: white">+</a>
                                                </div>
                                                <div class="card-body">
                                                        {% if wunschwohnungs.count == 0 %}
                                                        <p class="m-0 font-weight-bold">No record</p>
                                                        {% else %}
                                                        {% for wunschwohnung in wunschwohnungs %}
                                                        <div class="row" style="height: 60px;">
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <p>{{wunschwohnung.stadt|default_if_none:""}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div>
                                                                <!--     <a href="" class="btn btn-danger" data-toggle="modal" data-target="#wunschwohnung_delete_caution_modal_{{wunschwohnung.pk}}">X</a> -->
                                                                    <i class="fa fa-trash-o"  data-toggle="modal" data-target="#wunschwohnung_delete_caution_modal_{{wunschwohnung.pk}}" style="font-size: 28px;color: white;background: red;border-radius: 4px;padding: 5px;cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div>
                                                                   <!--  <a href="{% url 'wunschwohnung_update' wunschwohnung.pk %}" class="btn btn-success">Edit</a> -->
                                                                 <a href="{% url 'wunschwohnung_update' wunschwohnung.pk %}">
                                                                     <i class="fa fa-edit" style="font-size:28px;color:white;background: #28a745;border-radius: 4px;padding: 5px;">
                                                                     </i>
                                                                 </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div>

                                                                <label class="switch" >
                                                                  <input name="kk_{{wunschwohnung.pk}}" id="kk_{{wunschwohnung.pk}}" type="checkbox" data-wunschwohnungid={{wunschwohnung.pk}} {% if wunschwohnung.aktiv == True %} checked {% endif %} class="success active_inactive_btn" >
                                                                  <span class="slider round"></span>
                                                                </label>
                                                                                            
                                                                </div>
                                                            </div>
                                                        </div>
                                                          <div class="modal fade" id="wunschwohnung_delete_caution_modal_{{wunschwohnung.pk}}" role="dialog" tabindex="-1">
                                                              <div class="modal-dialog" role="document">
                                                                  <div class="modal-content">
                                                                      <div class="modal-header">
                                                                          <h4 class="modal-title" style="text-align: center">Are you sure?</h4>
                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                          <p>Are you sure you want to delete this?</p>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                        <a type="button" href="{% url 'wunschwohnung_detele' wunschwohnung.pk %}" class="btn btn-danger ">Delete</a>
                                                                          <button id="modal-close" class="btn btn-light" type="button" data-dismiss="modal" aria-label="Close" autofocus>Close</button>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                         

                                                        {% endfor %}
                                                        {% endif %}

                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="card shadow">
                                                <div class="card-header py-3" style="height: 59px;">
                                                    <p class="text-primary m-0 font-weight-bold">Dokumete</p>
                                                    <a data-toggle="modal" data-target="#uploadModal" class="btn" style="position: relative;float: right;top: -31px;right: 90px;background: #ff9500;color: white;cursor: pointer;">+</a>
                                                </div>
                                                <div class="card-body">
                                                        {% if documents.count == 0 %}
                                                        <p class="m-0 font-weight-bold">No record</p>
                                                        {% else %}

                                                        {% for document in documents %}
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <!-- <p>{{document.file|default_if_none:""}}</p> -->
                                                                    <a href="{{document.file.url}}" class="card-link"  download>{{document.file|default_if_none:""}} </a>
                                                                </div> 
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div>
                                                                    <p>{{document.documentstype_set.all.0.type.type|default_if_none:""}}</p>
                                                                </div> 
                                                            </div>

                                                            <div class="col-md-1">
                                                                <div>
                                                                    <i class="fa fa-trash-o"  data-toggle="modal" data-target="#document_delete_caution_modal_{{document.pk}}" style="font-size: 28px;color: white;background: red;border-radius: 4px;padding: 5px;cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                          <div class="modal fade" id="document_delete_caution_modal_{{document.pk}}" role="dialog" tabindex="-1">
                                                              <div class="modal-dialog" role="document">
                                                                  <div class="modal-content">
                                                                      <div class="modal-header">
                                                                          <h4 class="modal-title" style="text-align: center">Are you sure?</h4>
                                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                          <p>Are you sure you want to delete this?</p>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                        <a type="button" href="{% url 'document_detele' document.pk %}" class="btn btn-danger ">Delete</a>
                                                                          <button id="modal-close" class="btn btn-light" type="button" data-dismiss="modal" aria-label="Close" autofocus>Close</button>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <br>
                                                        {% endfor %}
                                                        {% endif %}
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="uploadModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Dokumete upload form</h4>
                        <button type="button" class="close"
                            data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <form method='post' action='/save/document/'
                            enctype="multipart/form-data"
                            class="ttt">
                            {% csrf_token %}

                            Select Dokumete : 
                            <input type="file" name="file" class='form-control1 custom_input' required="required">
                            <br>
                            <br>
                            <!-- <input type="text" name="doc_type" class="form-control1 custom_input" required="required"> -->
                            <select id="type" class="form-control" name="type" multiple placeholder="Choose Type">
                              {% for type in types %}
                                    <option value="{{type.pk}}">{{type.type}}</option>
                              {% endfor %}

                            </select>
                            <br>
                            <br>

                            <button type="submit"
                                class='btn' style="background: #ff9500;color: white;">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    <footer class="footer" style="text-align: center;fill: #ff9500;height: 43px;box-shadow: 0 0 15px rgb(56 23 23 / 32%);">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" style="margin-top: 12px;">
            <title>facebook</title>
            <path
                d="M17 1h-14c-1.1 0-2 0.9-2 2v14c0 1.101 0.9 2 2 2h7v-7h-2v-2.475h2v-2.050c0-2.164 1.212-3.684 3.766-3.684l1.803 0.002v2.605h-1.197c-0.994 0-1.372 0.746-1.372 1.438v1.69h2.568l-0.568 2.474h-2v7h4c1.1 0 2-0.899 2-2v-14c0-1.1-0.9-2-2-2z">
            </path>
        </svg>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" style="margin-top: 12px;">
            <title>twitter</title>
            <path
                d="M17.316 6.246c0.008 0.162 0.011 0.326 0.011 0.488 0 4.99-3.797 10.742-10.74 10.742-2.133 0-4.116-0.625-5.787-1.697 0.296 0.035 0.596 0.053 0.9 0.053 1.77 0 3.397-0.604 4.688-1.615-1.651-0.031-3.046-1.121-3.526-2.621 0.23 0.043 0.467 0.066 0.71 0.066 0.345 0 0.679-0.045 0.995-0.131-1.727-0.348-3.028-1.873-3.028-3.703 0-0.016 0-0.031 0-0.047 0.509 0.283 1.092 0.453 1.71 0.473-1.013-0.678-1.68-1.832-1.68-3.143 0-0.691 0.186-1.34 0.512-1.898 1.861 2.285 4.644 3.787 7.781 3.945-0.064-0.277-0.097-0.564-0.097-0.861 0-2.084 1.689-3.773 3.774-3.773 1.086 0 2.067 0.457 2.756 1.191 0.859-0.17 1.667-0.484 2.397-0.916-0.282 0.881-0.881 1.621-1.66 2.088 0.764-0.092 1.49-0.293 2.168-0.594-0.506 0.758-1.146 1.422-1.884 1.953z">
            </path>
        </svg>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" style="margin-top: 12px;">
            <title>youtube</title>
            <path
                d="M10 2.3c-9.828 0-10 0.874-10 7.7s0.172 7.7 10 7.7 10-0.874 10-7.7-0.172-7.7-10-7.7zM13.205 10.334l-4.49 2.096c-0.393 0.182-0.715-0.022-0.715-0.456v-3.948c0-0.433 0.322-0.638 0.715-0.456l4.49 2.096c0.393 0.184 0.393 0.484 0 0.668z">
            </path>
        </svg>
    </footer>



</body>
    







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script async src="{% static 'bootstrap.min.js' %}"></script>






<script src="{% static 'jquery.js' %}"></script>
<!-- <script src="{% static 'bootstrap.js' %}"></script> -->
<script src="{% static 'selectize.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#familienstands").selectize({maxItems:5});
    });
</script>
<script>
    $(document).ready(function(){
        $("#type").selectize({maxItems:1});
    });
</script>
<script>
    $(document).on('click', '.click_yes', function(e){
        console.log($(this).data('yes'));
        let number = $(this).data('yes');
        $('.whenbox-'+number).prop('disabled',false);
    });
    $(document).on('click', '.click_no', function(e){
        console.log($(this).data('no'));
        let number = $(this).data('no');
        
        let name = $(this).data('name');
        $('.whenbox-'+number).prop('disabled',true);
        $("."+name).val("");

    });
    $(document).on('click', '.active_inactive_btn', function(e){

        let wunschwohnungid = $(this).data('wunschwohnungid');
        let btn = $("input[name='kk_" +wunschwohnungid+ "']:checked").val();
        console.log(btn);
        $.ajax({
          url: '/update/active_inactive/',
          datatype: 'json',
          method: 'GET',
          data:{wunschwohnungid:wunschwohnungid,btn:btn},
          success:function(data){
            console.log('SUCCESS');
            location.reload();
          },
          error:function(e){
            alert("ERROR");
          }
        });

    });
</script>
</html>
